<?xml version="1.0" encoding="utf-8" ?>
<nlog
        xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd ../NLog.xsd"

        autoReload="true"
        internalLogLevel="Warn"
        internalLogFile="${environment:variable=TEMP:whenEmpty=${environment:variable=TMP:whenEmpty=${environment:variable=TMPDIR}}/logs/todo-integration-nlog-internal.log" >

    <!--
        Integration test logging
        ========================
    
        NOTE: this file is named with the type of test so that other test projects do not overwrite configs.
              This is because tests reference each other in a cascading fashion.
        -->

    <extensions>
        <add assembly="xunit.NLog" />
    </extensions>

    <targets async="false">

        <!--
            A console logger
        -->
        <target
                name="TheConsole"
                xsi:type="ColoredConsole"
                layout="${level:uppercase=true} ${logger:shortname=true}[${mdlc:item=id}]: ${message}" />


        <!-- 
            Output to the developer IDE debug window (if running under a debugger)
            see https://github.com/NLog/NLog/wiki/Debugger-target 
        -->
        <target
                name="Debugger"
                xsi:type="Debugger"
                layout="${level:uppercase=true} ${logger:shortname=true}[${mdlc:item=id}]: ${message}" />


        <!-- 
        
          Create a simple log file in %TEMP% for developers that is overwritten 
          each time the application starts. This log file should be 'human' readable
          without debug information or stack traces. It is intended for locating
          issues, whereas the debug log will include large volumes of detailed information.
          
          see https://github.com/NLog/NLog/wiki/File-target 
        -->
        <target name="AsyncDeveloperLogFile" xsi:type="AsyncWrapper">
            <target
                    name="DeveloperLogFile"
                    xsi:type="File"
                    layout="${longdate} ${level:uppercase=true} ${logger:shortname=true}[${mdlc:item=id}]: ${message}"
                    fileName="${environment:variable=TEMP:whenEmpty=${environment:variable=TMP:whenEmpty=${environment:variable=TMPDIR}}/logs/todo-integration.log"
                    deleteOldFileOnStartup="true"
                    optimizeBufferReuse="true" />
        </target>


        <!-- 
        
          Create a simple log file in %TEMP% for developers that is overwritten 
          each time the application starts. This log file should be 'human' readable
          without debug information or stack traces. It is intended for locating
          issues, whereas the debug log will include large volumes of detailed information.
          
          see https://github.com/NLog/NLog/wiki/File-target 
        -->
        <target
                name="DeveloperErrorLogFile"
                xsi:type="File"
                layout="${longdate} ${level:uppercase=true} ${logger:shortname=true}[${mdlc:item=id}]: ${message}"
                fileName="${environment:variable=TEMP:whenEmpty=${environment:variable=TMP:whenEmpty=${environment:variable=TMPDIR}}/logs/todo-integration-error.log"
                deleteOldFileOnStartup="true" />

        <!-- 
        
          Create a simple log file in %TEMP% for developers that is overwritten 
          each time the application starts. This log file includes debug information
          and stack traces.
          
          see https://github.com/NLog/NLog/wiki/File-target 
        -->
        <target name="AsyncDeveloperDebugLogFile" xsi:type="AsyncWrapper">
            <target
                    name="DeveloperDebugLogFile"
                    xsi:type="File"
                    layout="${longdate} ${level:uppercase=true} ${logger}[${mdlc:item=id}]: ${message} ${exception:format=Message,ToString}"
                    fileName="${environment:variable=TEMP:whenEmpty=${environment:variable=TMP:whenEmpty=${environment:variable=TMPDIR}}/logs/todo-integration-debug.log"
                    deleteOldFileOnStartup="true"
                    optimizeBufferReuse="true" />
        </target>

        <target xsi:type="TestOutput"
                layout="${time} ${level:uppercase=true} ${logger} ${message}"
                name="Test" />
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="TheConsole" />
        <logger name="*" minlevel="Info" writeTo="Debugger" />
        <logger name="*" minlevel="Warn" writeTo="DeveloperErrorLogFile" />
        <logger name="*" minlevel="Info" writeTo="AsyncDeveloperLogFile" />
        <logger name="*" minlevel="Trace" writeTo="AsyncDeveloperDebugLogFile" />
        <logger name="*" minlevel="Debug" writeTo="Test" />
    </rules>

</nlog>
