<?xml version="1.0" encoding="utf-8"?>

<nlog
    xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd ../NLog.xsd"

    autoReload="true"
    internalLogLevel="Warn"
    internalLogFile="todo-acceptance-nlog-internal.log">


    <!--
        Acceptance test logging
        ========================
    
        NOTE: this file is named with the type of test so that other test projects do not overwrite configs.
              This is because tests reference each other in a cascading fashion.
        -->
    
    <!-- 
         Currently, development logging on targets windows and mac programming environments
         
         Set the file directory creation:
           - %APPDATA%/todo (win10)
           - $TMPDIR (OSX/MacOS) 
         
         -->
   <variable name="path" value="${specialfolder:folder=ApplicationData:dir=todo:whenEmpty=${environment:variable=TMPDIR}}" />

    
    <!-- Setup the target "TestOutput" for NLog in xunit
             <target xsi:type="TestOutput"
                layout="${time} ${level:uppercase=true} ${logger} ${message}"
                name="Test" />
     -->
    <extensions>
        <add assembly="xunit.NLog" />
    </extensions>

    <targets async="false">

        <!--
            A console logger. Currently black and white
            
            NOTE: colored console on Rider/OSX does not have color set 
            correct when uinsg ColorConsole type
        -->
        <target
            name="TheConsole"
            xsi:type="Console"
            layout="${level:uppercase=true} ${logger:shortname=true}: ${message}" />


        <!-- 
            Output to the developer IDE debug window (if running under a debugger)
            see https://github.com/NLog/NLog/wiki/Debugger-target 
        -->
        <target
            name="Debugger"
            xsi:type="Debugger"
            layout="${level:uppercase=true} ${logger:shortname=true}: ${message}" />

        <!-- Output to the developer IDE test output window -->
        <target xsi:type="TestOutput"
                layout="${time} ${level:uppercase=true} ${logger} ${message}"
                name="TestConsole" />

        <!-- 
        
          Create a simple log file for developers that is overwritten 
          each time the application starts. This log file should be 'human' readable
          without debug information or stack traces. It is intended for locating
          issues, whereas the debug log will include large volumes of detailed information.
          
          see https://github.com/NLog/NLog/wiki/File-target 
        -->
        <target name="AsyncDeveloperLogFile" xsi:type="AsyncWrapper">
            <target
                name="DeveloperLogFile"
                xsi:type="File"
                layout="${longdate} ${level:uppercase=true} ${logger:shortname=true}: ${message}"
                fileName="${var:path}/todo-acceptance.log"
                deleteOldFileOnStartup="true"
                optimizeBufferReuse="true" />
        </target>


        <!-- 
        
          Create a simple log file for developers that is NOT overwritten 
          each time the application starts. This log file should be 'human' readable
          without debug information or stack traces. It is intended for locating
          issues, whereas the debug log will include large volumes of detailed information.
          
          see https://github.com/NLog/NLog/wiki/File-target 
          
             NOTE: this file will grow-be careful
        -->
        <target
            name="DeveloperErrorLogFile"
            xsi:type="File"
            layout="${longdate} ${level:uppercase=true} ${logger:shortname=true}: ${message}"
            fileName="${var:path}/todo-acceptance-error.log"
            deleteOldFileOnStartup="false" />

        <!-- 
        
          Create a simple log file for developers that is overwritten 
          each time the application starts. This log file includes debug information
          and stack traces.
          
          see https://github.com/NLog/NLog/wiki/File-target 
        -->
        <target name="AsyncDeveloperDebugLogFile" xsi:type="AsyncWrapper">
            <target
                name="DeveloperDebugLogFile"
                xsi:type="File"
                layout="${longdate} ${level:uppercase=true} ${logger}: ${message} ${exception:format=Message,ToString}"
                fileName="${var:path}/todo-acceptance-debug.log"
                deleteOldFileOnStartup="true"
                optimizeBufferReuse="false" />
        </target>


    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="TheConsole" />
        <logger name="*" minlevel="Debug" writeTo="TestConsole" />
        <logger name="*" minlevel="Info" writeTo="Debugger" />
        <logger name="*" minlevel="Warn" writeTo="DeveloperErrorLogFile" />
        <logger name="*" minlevel="Info" writeTo="AsyncDeveloperLogFile" />
        <logger name="*" minlevel="Trace" writeTo="AsyncDeveloperDebugLogFile" />
    </rules>

</nlog>