<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true"
      internalLogToConsole="true"
      internalLogLevel="Trace">

    <!-- enable layout renderers -->
    <extensions>
        <add assembly="NLog.AWS.Logger" />
    </extensions>

    <targets>

        <!--
            Cloudwatch logging: see https://github.com/aws/aws-logging-dotnet
            
            Be aware of this background thread loosing logs limitation: 
                - see https://github.com/aws/aws-logging-dotnet/issues/35#issuecomment-402308548
        -->


        <!-- 

        Create a simple cloudwatch log. This log file includes debug information
        and stack traces.

        -->
        <target
            name="Debug"
            type="AWSTarget"
            layout="${longdate} ${level:uppercase=true} ${logger}: ${message}${onexception:inner=${newline}  ${exception:format=Message,ToString}}"
            logGroup="todo-debug"
            region="ap-southeast-2" />

        <!-- 

        Create a simple cloudwatch log. This log file should be 'human' readable
        without debug information or stack traces. It is intended for locating
        issues, whereas the debug log will include large volumes of detailed information.

        -->
        <target
            name="Error"
            type="AWSTarget"
            layout="${level:uppercase=true} ${logger:shortname=true}: ${message}"
            logGroup="todo-error"
            region="ap-southeast-2" />
        
        <target
            name="DebugJson"
            type="AWSTarget"
            logGroup="todo-debug-json"
            region="ap-southeast-2">
            <layout xsi:type="JsonLayout" includeAllProperties="true">
                <attribute name="time" layout="${longdate}" />
                <attribute name="level" layout="${level:upperCase=true}" />
                <attribute name="message" layout="${message}" encode="false" />
                <attribute name="exception" layout="${exception:format=Message,ToString}" encode="false" />
                <attribute name="stack-trace" layout="${stacktrace:format=Raw:topFrames=5}" />
            </layout>
        </target>

    </targets>
    <rules>
        <logger name="*" minlevel="Error" writeTo="Error" />
        <logger name="*" minlevel="Debug" writeTo="Debug" />
        <logger name="*" minlevel="Debug" writeTo="DebugJson" />
    </rules>
</nlog>