<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true">

    <!-- enable asp.net core layout renderers -->
    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>
    
    <targets>
        
        <!--
            Cloudwatch logging
        -->
        <target 
                name="aws" 
                type="AWSTarget" 
                layout="${level:uppercase=true} ${logger:shortname=true}: ${message}" 
                logGroup="TodoApp" 
                region="ap-southeast-2" />
        
    </targets>
    <rules>
        <logger name="*" minlevel="Trace" writeTo="aws" />
    </rules>
</nlog>